h1,h2{
  color: aliceblue;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: linear-gradient(to right, rgb(9, 3, 57) , rgb(55, 2, 65));
}

.crypto-card {
  min-width: 400px;
  border: 2px solid red;
  background-color: rgb(19, 19, 29);
  flex-wrap: wrap;
  color: aliceblue;
}

.select-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}